---
import "bootstrap/dist/css/bootstrap.min.css";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";

import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
import Footer from '../sections/footer.astro'
import Trophies from '../sections/trophies.astro'
import Info from '../sections/info.astro'
import Promotion from '../sections/promotion.astro'
import Nav from '../sections/nav.astro'
import SponsorMain from '../sections/sponsorMain.astro'
import SponsorSecundary from '../sections/sponsorSecundary.astro'


---


<Layout title="Bienvenido Millonario!">
	<Nav />
		<div style="margin-bottom: 55px;"><img class="img-responsive wide" src="/public/cariverplate.png" width="100%"></div>
		<Promotion />
	<main>
		<Info />
	</main>
	<Trophies />
	<SponsorMain />
	<SponsorSecundary />
	<Footer />
	
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 1200px;
		max-width: calc(100% - 2rem);
		color: rgb(255, 0, 0);
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
