---
import { Navbar } from 'astro-bootstrap';
import type { NavbarItemType } from 'astro-bootstrap';
const items: NavbarItemType[] = [
  { text: 'Futbol', href: '#' },
  { text: 'Socios', href: '#' },
  { text: 'Institución', href: '#' },  
  { text: 'Historia', href: '#' },
]
---

<header>
    <div class="container visible-lg visible-md">
        <div class="row">
            <ul id="sponsors" class="list-inline">
                
                    <li class="list-inline-item">
                        <a href="{{this.href}}">Adidas</a>
                    </li>
                    <li class="list-inline-item">
                        <a href="{{this.href}}">Codere</a>
                    </li>
            </ul>
        </div>
    </div>
</header>
