---
---

<section id="Principal">
    <div class="row">
            
        <div id="Noticias">
            <h1>Noticias Del club</h1>
        
            <div class="divisor"></div>

        <div>
            <h2>Duro entrenamiento despues del superclasico</h2>
            <p> nacho fernandez fue duro en redes sociales sobre el entrenamiento que hizo river plate</p>
            <img src="../imagenes/jugadores.jpg" alt="">
        </div>

        </div>
        <div id="Central">
            <h1>Noticias más recientes</h1>
            <figure>
                <div class="img">
                    <div>
                        <p>River Plate igualó 1-1 ante Boca Juniors en el 
                        partido disputado en el Mâs Monumental: Pablo Solari puso en ventaja al Millonario 
                        y el rival igualó en una de las pocas jugadas de peligro que generó.
                        </p>
                    </div>
                </div>
                <a href="../imagenes/1-nacho.jpeg"></a>
            </figure>
            <figcaption> Nacho fernandez en el superclasico</figcaption>
        </div>

        <div id="aside">
            <h1>Partidos</h1>

        </div>

    </div>
</section>

    
