<main>
    <div>
        <div class="css-titulo-sponsorMain"><h3>Sponsor Main</h3></div>
        <div class="css-sponsorMain"> 
            <div>
                <a href="https://www.adidas.com.ar/" target="_blank">
                    <img loading="lazy"  src="/src/ImagesSponsorsMain/adidasSponsorMain1.png" alt="Adidas">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="https://www.codere.bet.ar/" target="_blank">
                    <img loading="lazy" src="/src/ImagesSponsorsMain/codereSponsorMain2.png" alt="Codere">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="https://www.directv.com.ar/">
                    <img loading="lazy"  src="/src/ImagesSponsorsMain/directvSponsorMain2.png" alt="DirecTV">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="https://www.assistcard.com/ar?msclkid=b8af27338ba71a7b3b8542c3470f593a&utm_source=bing&utm_medium=cpc&utm_campaign=AR_Purchase_Brand_Bing_SC_Branding-Puro&utm_term=assist-card&utm_content=Assist%20Card">
                    <img loading="lazy"  src="/src/ImagesSponsorsMain/assistcardSponsorMain3.png" alt="Assist card">
                    <noscript></noscript>
                </a>
            </div>

        </div>
    </div>

</main>

<style>
    .css-sponsorMain{
        background-color: rgb(220,7,20);
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        text-align: center;
        padding: 0;
        flex: 1;
    }
    .css-sponsorMain > div{
        padding-left: 80px;
        
    }
    img:hover{
        -webkit-filter: grayscale(0%);
        -webkit-transition: .5s ease-in-out;
        -moz-filter: grayscale(0%);
        -moz-transition: .5s ease-in-out;
        -o-filter: grayscale(0%);
        -o-transition: .5s ease-in-out;
        opacity: 1;
        filter: alpha(opacity=100);
    }

    .css-titulo-sponsorMain {
        background-color: rgb(220,7,20);
        font-family: 'Montserrat',Arial,sans-serif;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: center;
    }

</style>