<main>
    <div>        
        <div class="css-titulo-sponsorBronze"><h3>Sponsor Bronze</h3></div>
        <div class="css-sponsorBronze"> 
            <div>
                <a href="" target="_blank">
                    <img loading="lazy"  src="/src/ImagesSponsorsBronze/emergenciasSponsorBronze.png" alt="Adidas">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="" target="_blank">
                    <img loading="lazy" src="/src/ImagesSponsorsBronze/cabifySponsorBronze.png" alt="Codere">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="">
                    <img loading="lazy"  src="/src/ImagesSponsorsBronze/multiledSponsorBronze.png" alt="DirecTV">
                    <noscript></noscript>
                </a>
            </div>

            <div>
                <a href="">
                    <img loading="lazy"  src="/src/ImagesSponsorsBronze/rexonaSponsorBronze.png" alt="Assist card">
                    <noscript></noscript>
                </a>
            </div>
            
            <div>
                <a href="">
                    <img loading="lazy"  src="/src/ImagesSponsorsBronze/meridional_segurosSponsorBronze.png" alt="Assist card">
                    <noscript></noscript>
                </a>
            </div>
        </div>
    </div>

</main>


<style>
    
    .css-titulo-sponsorBronze {
        background-color: rgb(145,23,18);
        font-family: 'Montserrat',Arial,sans-serif;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: ;
    }
    
    .css-sponsorBronze > div{
        padding-left: 80px;
        
    }
    .css-sponsorBronze{
        background-color: rgb(145,23,18);
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        text-align: center;
        padding: 0;
        flex: 1;
    }
</style>