<main>
    <div class="css-titulo-StadiumNaming"></div>

    <div class="css-sponsorSecundary"  >
        <div style="font-family: 'Montserrat',Arial,sans-serif; font-size: 20px;">
            <h3>Naming Estadio</h3>
            <a href="https://www.directv.com.ar/">
                <img loading="lazy" src="/src/ImagesSponsorsMain/namingStadiumSponsor.png" alt="DirecTV" style="margin-bottom: 8px;">
                <noscript></noscript>
            </a>
        </div>


        <div style="font-family: 'Montserrat',Arial,sans-serif; font-size: 20px;">
            <h3>Sponsor Gold</h3>
            <a href="https://www.cocacola.com.ar/" target="_blank">
                <img loading="lazy" src="/src/ImagesSponsorGold/cocacolaSponsorGold.png" alt="Coca Cola">
                <noscript></noscript>
            </a>
        </div>

    </div>

</main>
<style>
    .css-titulo-StadiumNaming {
        background-color: rgb(207, 13, 20);
        font-family: 'Montserrat',Arial,sans-serif;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: center;
    }

    .css-sponsorSecundary {
        background-color: rgb(207, 13, 20);
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        text-align: center;
        padding-top: 5px;
        flex: 1;
    }
    .css-sponsorSecundary > div{
        padding-left: 80px;
        
    }
</style>

