<main>
    <div>     
        <div class="css-titulo-sponsorSilver"><h3>Sponsor Silver</h3></div>
            <div class="css-sponsorSilver">
                <div>
                    <a href="" target="_blank">
                        <img loading="lazy"  src="/src/ImagesSponsorSilver/quilmesSponsorSilver.png" alt="Quilmes">
                        <noscript></noscript>
                    </a>
                </div>
                <div>
                    <a href="" target="_blank">
                        <img loading="lazy"  src="/src/ImagesSponsorSilver/personalSponsorSilver.png" alt="Personal">
                        <noscript></noscript>
                    </a>
                </div>
                <div>
                    <a href="" target="_blank">
                        <img loading="lazy"  src="/src/ImagesSponsorSilver/ea_sports_FCSponsorSilver.png" alt="EAFC24">
                        <noscript></noscript>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>

<style>
    

    .css-titulo-sponsorSilver {
        background-color:  rgb(183,21,21);
        font-family: 'Montserrat',Arial,sans-serif;
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: center;
    }

    .css-sponsorSilver > div{
        padding-left: 80px;
        
    }

    .css-sponsorSilver{
        background-color:  rgb(183,21,21);
        margin-bottom: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: center;
        text-align: center;
        padding: 0;
        flex: 1;
    }
</style>