<main>
    <div id="sectionTrophies">
        <h1>Trofeos</h1>
        <ul>
            <li>
                <div>
                    <div></div>
                    <img src="" alt="">
                </div>
                <div>

                </div>
            </li>
            <li></li>
            <li></li>
        </ul>
    </div>

</main>

<style>
    main{
        background-color: #ff0000;
    }

</style>